.markdown-preview-view table,
.markdown-source-view.mod-cm6 .dataview.table-view-table {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: table;
}

.markdown-rendered table {
  margin: 0 auto;
}
